<template name="service-box">
    <li>
        <div class="box {{kind}}">
            <div class="box-head"><i class="fa fa-{{icon}}"></i> Note Taking</div>
            <div class="content">
                {{lorem}}
                <p><a class="btn" href="#">Be a Note Taker</a></p>
            </div>
        </div>
    </li>
</template>

<template name="services">
    <section>
        <ul id="all-services">
            <li>
                <div class="box notes">
                    <div class="box-head"><i class="fa fa-pencil"></i> Note Taking</div>
                    <div class="content">
                        {{lorem}}
                        <p><a class="btn notes" href="">Be a Note Taker</a>
                        </p>

                    </div>
                </div>

            </li>

            <li>
                <div class="box workshops">
                    <div class="box-head"> <i class="fa fa-paper-plane-o"></i> Workshops</div>
                    <div class="content">
                        {{lorem}}
                        <p><a class="btn workshops" href="">Book a workshop</a>
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="box test">
                    <div class="box-head"> <i class="fa fa-check-square-o"></i> Book a Test</div>
                    <div class="content">
                        {{lorem}}
                        <p><a class="btn test" href="">Book a Test</a>
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="box tutor">
                    <div class="box-head"> <i class="fa fa-lightbulb-o"></i> Tutor</div>
                    <div class="content">
                        {{lorem}}
                        <p><a class="btn betutor" href="">Be a Tutor</a>  <a class="btn findtutor" href="">Find a Tutor</a>
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="box appointment">
                    <div class="box-head"> <i class="fa fa-phone"></i> Appointments</div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur cumque consectetur nam, officia eius adipisci earum modi beatae aliquid dolorem esse vel iusto deleniti, voluptatum omnis repellat ut excepturi consequatur.
                        <p><a class="btn appointment" href="">Book Appointment</a> 
                        </p>
                    </div>

                </div>
            </li>

            <li>
                <div class="box letters">
                    <div class="box-head"> <i class="fa fa-file-text-o"></i> Accomodation</div>
                    <div class="content">
                        {{lorem}}
                        <p><a class="btn accomodation" href="">Apply for a Letter</a> 
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</template>

